.container{
    color:black;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(4, 128px);
    grid-template-rows: auto;
    gap: 10px;
    
}
.containerDiv{
    color:black;
    
}
.oneRow{
    grid-template-columns: repeat(1, 128px);
}
.twoRows{
    color:black;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(2, 128px);
    grid-template-rows: auto;
    gap: 10px;
}
.threeRows{
    color:black;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: auto;
    gap: 10px;
}