.progressBarMainContainer{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap:15px;
}
.svgRed{
    /* background: #dc143c; */
    
    
    font-weight: 500;
    box-shadow: 0 0 15px #dc143c,0 0 30px #dc143c,0 0 60px #dc143c;
}

.svgGreen{
    
    
    font-weight: 500;
    box-shadow: 0 0 15px #00ffff,0 0 30px #00ffff,0 0 60px #00ffff;
}